useDynLib("dizzysNewInfec")
importFrom(graphics, "plot")
exportPattern(".")
exportClasses(
    "seirNewInfec"    
)
export(globSEIRNewInfec)
export(detSEIRNewInfec)
export(stoSEIRNewInfec)
export(globSEIRSimulNewInfec)
export(equiNewInfec)
export(plot.persNewInfec)
export(plot.surv.probNewInfec)

